.idea/

cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

#файли конфігурації Qt Creator (про всяк випадок)
*.pro.user
*.pro.user.*
*.user

moc_*.cpp
qrc_*.cpp
ui_*.h

*.o
*.obj

Makefile

*.exe
*.dll
*.app/
*.so
*.dylib
*.a
*.lib

.DS_Store
Thumbs.db
